<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>

    <link rel="stylesheet" th:href="@{asset/css/styles/nav.css}">
    <link rel="stylesheet" th:href="@{/asset/css/styles/footer.css}">
    <link rel="stylesheet" th:href="@{/asset/css/media-query/footer.css}">
    <link rel="stylesheet" th:href="@{/asset/css/media-query/nav.css}">
    <link rel="stylesheet" th:href="@{/asset/css/media-query/style.css}">
    <link rel="stylesheet" th:href="@{/asset/css/styles/post.css}">
    <link rel="stylesheet" th:href="@{/asset/css/media-query/post.css}">
    <link rel="stylesheet" th:href="@{/asset/css/styles/create.css}">
    <script src="https://kit.fontawesome.com/e2052a1ca7.js" crossorigin="anonymous"></script>
</head>

<body>

        <!-- Navigation   -->
        <nav th:insert="fragments.html :: topnav"></nav>
    <!-- Navigation end   -->


     <!--Form-->
     <form action="/save" method="post" enctype="multipart/form-data" th:object="${post}">
        <h2>Create a Blog Post</h2>

         <div class="alert alert-danger" th:if="${error}" role="alert">
             <span th:text="${errorMessage}"></span>
         </div>

         <div class = "col-12">
             <label for="formFile" class="form-label">Cover Image</label>
             <input class="form-control" th:field="*{coverImageUrl}" type="file" id="formFile">
         </div>

         <label for="text"></label>
         <span class="alert alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
         <input type="text"  name="text"  id="text" th:field="*{title}" placeholder="Enter your Post Here">

         <label for="message"></label>
         <span class="alert alert-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
         <textarea  name="message" id="message" th:field="*{content}" cols="30" rows="10" placeholder="Post content here..."></textarea>

        <input type="submit" value="Publish Post"/>
    </form>
<!-- Form
  
        <Footer -->
        <footer th:insert="fragments.html :: footer "></footer>
        <!-- Footer -->


    <!-- Navigation   -->
    

    <!-- Scripts -->
    <script src="../static/asset/scripts/app.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</body>

</html>